.contact {
  background-color: #353535;
  color: #fff;
}

.contact__inner-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1000px;
}

.contact-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.contact-map-container {
  width: 50%;
}

.contact-info-text {
  margin-bottom: 30px;
  width: 70%;
}

.phone-section {
  margin-bottom: 30px;
}


.contact-info-text,
.phone-header,
.phone-text,
.email-header,
.email-text {
  font-size: $article-font-size;
}

.contact-map-image {
  display: block;
  height: auto;
  width: 100%;
}

.phone-header,
.email-header {
  font-weight: bold;
}

@media (max-width: 1050px) {
  .contact-info-container {
    padding-left: 40px;
  }
}

@media (max-width: 750px) {
  .contact__inner-container {
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 40px;
  }

  .contact-info-container,
  .contact-map-container {
    width: 100%;
  }

  .contact-info-container {
    padding: 20px 0;
    padding-left: 60px;
  }

  .contact-map-image {
    height: auto;
    margin: 0 auto;
    width: 80%;
  }
}