@import 'variables';

.header {
  background-image: url('../images/header-background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
}

.header__navigation {
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  height: $navigation-height;
  position: relative;
}

.navigation-list {
  align-items: center;
  display: inline-flex;
}

.navigation-list__element {
  color: $navigation-text-color;
  font-size: $navigation-font-size;
  font-weight: bold;
  margin: 0 15px;

  &:hover {
    color: #a23448;
    transition: color 0.4s;
  }
}

.navigation-list__element-header {
  font-size: $navigation-header-font-size;
}

.header__inner-container {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
  height: calc(100% - #{$navigation-height});
  margin: 0 auto;
  width: 75%;
}

.header__text {
  color: $header-paragraph-color;
  margin-bottom: 20%;
  text-align: right;
  width: 70%;
}

.hamburger-container {
  cursor: pointer;
  display: none;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.bar1, .bar2, .bar3 {
  background-color: $global-text-color;
  height: 5px;
  margin: 6px 0;
  transition: 0.4s;
  width: 35px;
}

.hamburger-toggle {
  .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .bar2 {
    opacity: 0;
  }

  .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
  }
}

@media (max-width: 600px) {
  .header {
    justify-content: flex-start;
  }

  .header__inner-container {
    align-items: center;
    flex-grow: 1;
    justify-content: flex-start;
  }

  .header__text {
    margin-bottom: 0;
    margin-right: 0;
    text-align: center;
    width: 100%;
  }

  .navigation-list__element--desktop {
    display: none;
  }

  .hamburger-container {
    display: block;
  }
}

@media (max-width: 450px) {
  .header__inner-container {
    align-items: center;
  }

  .header__text {
    margin: 0;
    text-align: justify;
    width: 100%;
  }
}