.moonspeak {
  align-items: center;
  background-color: #efeee9;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  width: 100%;
}

.moonspeak-container {
  background-color: #fff;
  padding: 80px 100px;
  width: 60%;
}

.moonspeak-header {
  color: $moonspeak-header-color;
  margin-bottom: 60px;
  text-align: center;
}

.moonspeak-text {
  color: $global-text-color;
  margin-bottom: 50px;
}

@media (max-width: 900px) {
  .moonspeak {
    min-height: auto;
  }

  .moonspeak-container {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .moonspeak-container {
    padding: 40px 50px;
  }
}

@media (max-width: 400px) {
  .moonspeak {
    height: auto;
    min-height: 100vh;
  }
}

@media (max-width: 350px) {
  .moonspeak {
    background-color: #fff;
  }
  
  .moonspeak-container {
    padding: 40px 10px;
    width: 100%;
  }
}