.portfolio {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.portfolio-item  {
  width: 33.33%;
}

.portfolio-item__image {
  display: block;
  height: 100%;
  width: 100%;
}

@media (max-width: 1000px) {
  .portfolio-item {
    width: 50%;
  }
}

@media (max-width: 550px) {
  .portfolio-item {
    width: 100%;
  }
}