$global-text-color: #222222;
$navigation-text-color: #222222;
$header-paragraph-color: #333333;
$moonspeak-header-color: #444444;
$about-us-header-color: #29045b;
$about-us-text-color: #6d5f82;
$media-icon-color: #353535;

$navigation-height: 150px;

$global-font-size: 20px;
$global-line-height: 26px;

$article-font-size: 16px;
$article-line-height: 24px;

$learn-more-color: #48acff;

$navigation-font-size: 14px;
$navigation-header-font-size: 20px;